* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: LTS;
}

@keyframes append-border {
    from {border-color: transparent;}
    to {}
}

@keyframes append-x {
    from {
        clip-path: inset(0 0 0 100%);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
}

@keyframes append-x-2 {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    50% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes append-o {
    0% {
        clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
        /* clip-path: inset(0 50% 100% 50%); */
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%, 0 50%, 0 50%, 0 50%);
        /* clip-path: inset(0 50% 50% 0); */
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 50% 100%, 50% 100%, 50% 100%);
        /* clip-path: inset(0 50% 0 0); */
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%, 100% 50%);
        /* clip-path: inset(0 0 0 100%); */
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 50% 0);
    }

}

@font-face { /* Cria uma nova fonte */
    font-family: LTS;
    src: url(./fonts/LTSaeada-Bold.otf); /* Caminho de fontes (1ยบ ponto significa a pasta atual, 2ยบ significa pasta anterior */
}

#container {
    background: linear-gradient(to left top, rgb(9, 100, 191), rgb(144, 237, 234));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

#box .cell {
    animation-name: append-border;
    animation-duration: 5s;
}

.cell {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.x::after, .x::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 165px;
    height: 12px;
}
.x::after {
    animation: append-x 0.15s;
    rotate: -135deg;
}
.x::before {
    animation: append-x-2 0.25s;
    rotate: -45deg;
}

.x {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o {
    animation: append-o 0.25s;
    position: absolute;
    width: 130px;
    height: 130px;
    border: 12px solid white;
    border-radius: 50%;
}

#winner-msg {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.9);
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

#winner-msg h1 {
    font-size: 110pt;
    margin: 5px;
}

#winner-msg h2 {
    font-size: 40pt;
    margin: 5px;
}

#winner-msg button {
    padding: 20px;
    font-size: 20pt;
    border-radius: 35px;
    margin: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 5px 5px 20px black;
}   

#winner-msg button:hover {
    background-color: rgb(208, 208, 208);
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: 0;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: 0;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: 0;
}

@media only screen and (max-width: 480px) {
    #box {
        max-width: 300px;
    }
    .cell {
        width: 100px;
        height: 100px;
        background-size: 80px 80px;
    }
    .o {
        width: 87px;
        height: 87px;
        border-width: 8px;
    }
    .x::after, .x::before {
        width: 110px;
        height: 8px;
    }
  }