* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: LTS;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Animação ao abrir página */
@keyframes start {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Animação da Linha de Vitória */
@keyframes appear-line {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

/* Animação de aparecer do X */
@keyframes appear-x1 {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes appear-x2 {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

/* Animação de desaparecer do X */
@keyframes disappear-x1 {
    0% {
        clip-path: inset(0 0 0 0);
    }
    40% {
        clip-path: inset(0 0 0 0);
    }
    80% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}
@keyframes disappear-x2 {
    0% {
        clip-path: inset(0 0 0 0);
    }
    80% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

/* Animação de aparecer do O */
@keyframes appear-o {
    0% {
        clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 50% 100%, 50% 100%, 50% 100%);
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%, 100% 50%);
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 50% 0);
    }
}
/* Animação de desaparecer do O */
@keyframes disappear-o {
    0% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 50% 0);
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%, 100% 50%);
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 50% 100%, 50% 100%, 50% 100%);
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
       
    }
}

/* Animação de aparecer o seletor */
@keyframes appear-seletor {
    0% {max-height: 0px;}
    66% {max-height: 168px;}
    100% {max-height: 168px;}
}
@keyframes appear-seletor-mobile {
    0% {max-height: 0px;}
    66% {max-height: 120px;}
    100% {max-height: 120px;}
}

/* Animação de desaparecer o seletor */
@keyframes disappear-seletor {
    0% {max-height: 168px;}
    66% {max-height: 0px;}
    100% {max-height: 0px;}
}
@keyframes disappear-seletor-mobile {
    0% {max-height: 120px;}
    66% {max-height: 0px;}
    100% {max-height: 0px;}
}

/* Animação do background */
@keyframes appear-background {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}
@keyframes disappear-background {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

/* Fonte Usada */
@font-face { 
    font-family: LTS;
    src: url(./fonts/LTSaeada-Light.otf);
}

/* Estruturas Principais */
#container {
    background: linear-gradient(to left top, rgb(166, 42, 255), rgb(252, 227, 255));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
    margin-top: 5vh;

    max-width: 450px;
}
.cell {
    animation: start 3s;
    animation-timing-function: ease-in;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 150px;
    height: 150px;
}
.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0);
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    opacity: 0.2;
}
#backgroundOn {
    animation-name: appear-background;
}
#backgroundOff {
    animation-name: disappear-background;
}

/* Símbolos */
.symbol0 {
    animation: appear-o 0.25s;
    position: absolute;
    width: 130px;
    height: 130px;
    border: 12px solid white;
    border-radius: 50%;
}
.symbol1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.symbol11, .symbol12{
    content: '';
    position: absolute;
    background-color: white;
    width: 170px;
    height: 12px;
}
.symbol11 {
    animation: appear-x1 0.15s;
    animation-timing-function: ease-in-out;
    rotate: 45deg;
}
.symbol12 {
    animation: appear-x2 0.25s;
    animation-timing-function: ease-in-out;
    rotate: 135deg;
}

/* Menu */
#container-menu {
    z-index: 2;
}
#box-menu {
    background-color: rgb(239, 175, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: start 3s;
    animation-timing-function: ease-in;
    z-index: 2;
    position: relative;
    
    border-radius: 20px;
    width: 450px;
    height: 60px;
}
.botao {
    animation: start 3s;
    animation-timing-function: ease-in-out;
    font-family: LTS;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    
    margin-top: 10px;
    margin-bottom: 14px;
    margin-inline: 20px;
    padding: 5px;
    font-size: 25px;
}
#modo {
    display: inline-block;
    cursor: default;
    
    width: 174px;
}
#modo > img {
    cursor: pointer;
    display: inline;
    float: right;

    width: 25px;
    padding: 3px;
    margin-left: 10px;
}
#reiniciar {
    float: right;
}

/* Seletor */
.seletor {
    animation-timing-function: ease-in-out;
    position: absolute;
    background-color: rgb(240, 180, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 2;
    max-height: 0px;
    
    margin-top: 6px;
    height: 168px;
    width: 180px;
    border-radius: 20px;
}
#seletorOn {
    max-height: 168px;
    animation: appear-seletor 1.5s;
}
#seletorOff {
    max-height: 0px;
    animation: disappear-seletor 1.5s;
}
#texto-seletor {
    display: inline;
}

/* Modos do Seletor */
.modos {
    width: 140px;
    margin-left: 20px;
    padding-inline: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 20pt;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: transform 0.5s;
}
.modos:hover {
    transform: translate(0px, -2px);
    transition: transform 0.5s;
}

/* Linha de Vitória */
.vencedor {
    background-color: rgb(240, 180, 255);
    position: absolute;
    animation: appear-line 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    opacity: 0;
    height: 13px;
    width: 450px;
}
#vencedor00 {
    transform: translate(0px, -150px);
}
#vencedor02 {
    transform: translate(0px, 150px);
}
#vencedor10 {
    rotate: 90deg;
    transform: translate(0px, 150px);
}
#vencedor11 {
    rotate: 90deg;
}
#vencedor12 {
    rotate: 90deg;
    transform: translate(0px, -151px);
}
#vencedor20 {
    rotate: 45deg;
    width: 624px;
}
#vencedor21 {
    rotate: 135deg;
    width: 624px;
}

/* Bordas das células */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: 0;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: 0;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: 0;
}

@media only screen and (max-width: 480px) {
    #box {
        max-width: 300px;
    }
    .cell {
        width: 100px;
        height: 100px;
    }
    
    .symbol0 {
        width: 87px;
        height: 87px;
        border-width: 8px;
    }
    .symbol11, .symbol12 {
        width: 113px;
        height: 8px;
    }

    #box-menu {
        width: 300px;
        height: 40px;
        border-radius: 12px;
    }
    .botao {
        font-size: 12pt;
        margin-top: 5px;
        margin-bottom: 8px;
        margin-inline: 12px;
        padding: 4px;
    }
    #modo {
        width: 114px;
    }
    #modo > img {
        width: 15px;
        padding: 1px;
        margin-left: 10px;
    }
    
    .seletor {
        margin-top: 6px;
        height: 120px;
        width: 114px;
        border-radius: 12px;
    }
    #seletorOn {
        max-height: 120px;
        animation: appear-seletor-mobile 1.5s;
    }
    #seletorOff {
        max-height: 0px;
        animation: disappear-seletor-mobile 1.5s;
    }
    .modos {
        width: 90px;
        margin-left: 12px;
        font-size: 12pt;
        padding-top: 7px;
        padding-bottom: 4px;
    }
    
    .vencedor {
        height: 8.7px;
        width: 300px;
    }
    #vencedor00 {
        transform: translate(0px, -100px);
    }
    #vencedor02 {
        transform: translate(0px, 101px);
    }
    #vencedor10 {
        rotate: 90deg;
        transform: translate(0px, 100px);
    }
    #vencedor11 {
        rotate: 90deg;
    }
    #vencedor12 {
        rotate: 90deg;
        transform: translate(0px, -101px);
    }
    #vencedor20 {
        rotate: 45deg;
        width: 416px;
    }
    #vencedor21 {
        rotate: 135deg;
        width: 416px;
    }
}