* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: LTS;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

@keyframes start {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes appear-line {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes appear-x1 {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes disappear-x2 {
    0% {
        clip-path: inset(0 0 0 0);
    }
    80% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes disappear-x1 {
    0% {
        clip-path: inset(0 0 0 0);
    }
    40% {
        clip-path: inset(0 0 0 0);
    }
    80% {
       clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes appear-x2 {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    50% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes appear-o {
    0% {
        clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 50% 100%, 50% 100%, 50% 100%);
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%, 100% 50%);
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 50% 0);
    }
}

@keyframes disappear-o {
    0% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 50% 0);
    }
    12.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0, 100% 0);
    }
    25% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%, 100% 50%);
    }
    37.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 50% 100%, 50% 100%, 50% 100%);
    }
    62.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 50%, 0 50%, 0 50%, 0 50%);
    }
    87.5% {
        clip-path: polygon(50% 50%, 50% 0, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    100% {
        clip-path: polygon(50% 50%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0);
       
    }
}

@keyframes appear-seletor {
    0% {max-height: 0px;}
    66% {max-height: 168px;}
    100% {max-height: 168px;}
}

@keyframes disappear-seletor {
    0% {max-height: 168px;}
    66% {max-height: 0px;}
    100% {max-height: 0px;}
}

@font-face { /* Cria uma nova fonte */
    font-family: LTS;
    src: url(./fonts/LTSaeada-Light.otf); /* Caminho de fontes (1º ponto significa a pasta atual, 2º significa pasta anterior */
}

#container {
    background: linear-gradient(to left top, rgb(166, 42, 255), rgb(252, 227, 255));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
    margin-top: 5vh;
}

.cell {
    animation: start 3s;
    animation-timing-function: ease-in-out;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#menu {
    background-color: rgb(239, 175, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 450px;
    height: 60px;
    animation: start 3s;
}

.botao {
    margin-top: 10px;
    margin-bottom: 14px;
    margin-inline: 20px;
    animation: start 3s;
    animation-timing-function: ease-in-out;
    padding-block: 5px;
    padding-inline: 5px;
    font-size: 25px;
    font-family: LTS;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

#modo {
    display: inline-block;
    cursor: default;
    width: 174px;
}
#modo > img {
    cursor: pointer;
    width: 25px;
    padding: 3px;
    display: inline;
    float: right;
    margin-left: 10px;
}

#seletor {
    animation-timing-function: ease-in-out;
    margin-top: 6px;
    position: absolute;
    max-height: 0px;
    height: 168px;
    width: 180px;
    border-radius: 20px;
    background-color: rgb(240, 180, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1;
}

#texto-seletor {
    display: inline;
}

.modos {
    width: 140px;
    margin-left: 20px;
    padding-inline: 5px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 20pt;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: transform 0.5s;
}
.modos:hover {
    transform: translate(0px, -2px);
    transition: transform 0.5s;
}

#reiniciar {
    float: right;
}

.vencedor, .vencedor-diagonal {
    background-color: rgb(240, 180, 255);
    position: absolute;
    animation: appear-line 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    height: 13px;
    opacity: 0;
}
.vencedor {
    width: 450px;
}
.vencedor-diagonal {
    width: 624px;
}

.symbol1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.symbol11, .symbol12{
    content: '';
    position: absolute;
    background-color: white;
    width: 170px;
    height: 12px;
}
.symbol11 {
    animation: appear-x1 0.15s;
    animation-timing-function: ease-in-out;
    rotate: 45deg;
}
.symbol12 {
    animation: appear-x2 0.25s;
    animation-timing-function: ease-in-out;
    rotate: 135deg;
}

.symbol0 {
    animation: appear-o 0.25s;
    position: absolute;
    width: 130px;
    height: 130px;
    border: 12px solid white;
    border-radius: 50%;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: 0;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: 0;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: 0;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: 0;
}

@media only screen and (max-width: 480px) {
    #box {
        max-width: 300px;
    }
    .cell {
        width: 100px;
        height: 100px;
    }
    .symbol0 {
        width: 87px;
        height: 87px;
        border-width: 8px;
    }
    .symbol11, .symbol12 {
        width: 113px;
        height: 8px;
    }
    #options {
        width: 300px;
        height: 30px;
        margin-bottom: 18px;
    }
    .botao {
        font-size: 12pt;
        margin-top: 5px;
        margin-bottom: 8px;
        margin-inline: 20px;
    }
    #menu {
        width: 300px;
        height: 40px;
    }
    #modo {
        width: 114px;
    }
    #modo > img {
        width: 15px;
        padding: 1px;
        margin-left: 10px;
    }
    .vencedor, .vencedor-diagonal {
        height: 8.7px;
    }
    .vencedor {
        width: 300px;
    }
    .vencedor-diagonal {
        width: 416px;
    }
}